
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003487;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-style: none;
}

li {
    float: left;
    font-weight:bold;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #ffffff82;
            color:black;
            text-decoration:overline;
        }

.active {
    background-color: #4CAF50;
    font-weight:bold;
    border-radius:5px;
}
footer {
    background-color: #003487;
    color:white;
}
