<!--<h4>{{title}}</h4>-->
<!--<my-employee></my-employee>
<event-binding></event-binding>
<two-way></two-way>
<ngFor></ngFor>-->
<!--<ngPipe></ngPipe>-->
<!--<on-change></on-change>-->
<div class="container-fluid  p-0" style="font-family: monospace;">
    <ul class="nav nav-tabs" style="z-index:9999;">
        <li>
            <a style="padding: 15px;" routerLink="home">Home</a>
        </li>
        <li>
            <a style="padding: 15px;" routerLink="employee">Employee List</a>
        </li>
        <li>
            <a style="padding: 15px;" routerLink="eventBinding">Event Binding</a>
        </li>
        <li>
            <a style="padding: 15px;" routerLink="twoWayBinding">[(ngModel)]</a>
        </li>
        <li>
            <a style="padding: 15px;" routerLink="ngFor">ngFor</a>
        </li>

    </ul>
    <router-outlet></router-outlet>
</div>
<!--<style>
    li.a {
        padding: 5px
    }
</style>-->
