<h1>ngFor Component</h1>
<hr>
<emp-count *ngIf="employees" [all]='getTotalEmployeesCount()' [male]='getTotalMaleEmployeesCount()
' [female]='getTotalFemaleEmployeesCount()' (countRadioSelectionChange)='onEmployeeCountRadioButtonChange($event)'>
</emp-count>
<hr>
<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
        <th>Gender</th>
        <th>Index</th>
        <th>IsFirst</th>
        <th>isLast</th>
    </thead>
    <tbody>
        <ng-container
            *ngFor='let employee of Employees trackBy:trackByEmployeeCode;let i=index; let isFirst=first;let isLast=last'>
            <tr *ngIf="selectedEmployeeCountRadioButton=='all' || selectedEmployeeCountRadioButton==employee.gender">
                <td>{{employee.Id}}</td>
                <td>{{employee.Name | employeeTitle :employee.Gender}}</td> 
                <td>{{employee.City}}</td>
                <td>{{employee.Gender}}</td>
                <td>{{i}}</td>
                <td>{{isFirst}}</td>
                <td>{{isLast}}</td>
            </tr>
        </ng-container>
        <tr *ngIf="!Employees || Employees.length==0">
            {{statusMessage}}
        </tr>

    </tbody>
</table>
<button (click)="getEmployees()">Refresh Employees</button>